/* =================GENERAL DECLARATIONS =======================================*/
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

h2{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 10px;
}

h3{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 10px;
}

p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 10px;
}

/*================================= NAV BAR ==============================================*/
.nav{
    width: 100%;
    background-color: #212121;
}

.nav_1{
    float: left;
    padding: 10px;
    margin-right: 60px;
}

.nav_1 h2{
    margin: 0%;
    padding: 10px;
    font-family: 'Cinzel', serif;
}

#head{
    font-size: 28px;
    color: #f6dc87;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 3px;
}

.nav_2{
    padding: 10px;
}

.nav_2 ul{
    margin: 0%;
    padding: 10px;
    display: inline-flex;
    list-style: none;
}

.nav_2 ul li{
   padding: 0px 10px;
    margin: 5px;
}

.nav_2 ul li a{
    margin-left: 10px;
    text-decoration: none;
    color: rgb(248, 239, 239);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.nav_1 h2 a{
    text-decoration: none;
    color: rgb(248, 239, 239);
}

.nav_2 ul li a:hover{
    opacity: 0.4;
}

/* ========================icon decoration =============================================*/

.fa{
    color: #f6dc87;
}

.material-symbols-outlined{
    color: rgb(248, 239, 239);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.givespace{
    margin-right: 20px;
}

.reduce{
    width: 10px;
    height: 10px;
 }


/* =====================section element of the body content =========================================*/
.section1{
    width: 100%;
}

.section1_1{
    width: 100%;
    background-color: #c55c5c;
    color: rgb(248, 239, 239);
    padding-bottom: 80px;
    text-align: justify;
}

.section1_1 h2{
    padding-top: 60px;
    padding-bottom: 25px;
    margin-left: 12%;
    text-transform: capitalize;
}

.section1_1 p{
    margin-left: 12%;
}

.section1_1 p:nth-of-type(2){
    color:  #0a0a07;
    margin-left: 18%;
    font-family: 'Cinzel', serif;
}

.link_list_main{
    width: 50%;
    min-height: 35em;
    background-color: #2a6e71;
    border: 2px ridge #413b2a;
    border-radius: 20px;
    margin-top: -60px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.link_list_top{
    width: 100%;
    text-align: center;
    color: rgb(248, 239, 239);
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.link_list_top h2{
    padding-top: 25px;
    padding-bottom: 25px;
}


/*=============================== 1st mini list content in our services section on the body =================================*/

.link_list{
    width: 100%;
    height: 30em;
    text-align: left;
    color: rgb(248, 239, 239);
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;   
}

.link_list1{
    width: 30%;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 40px;
    float: left;
}

.link_list1 ul{
    list-style: none;
    padding: 10px;
    margin: 0%;
}

.link_list1 ul li{
    margin: 10px;
    padding: 10px;
}

.link_list1 ul li a{
   color: #f6dc87;
   text-decoration: none;
   transition: color 0.5s ease-in-out;
}

.link_list1 ul li a:hover{
    color: rgb(248, 239, 239);
 }


/* ===================2nd mini list contents ==================================================*/
.link_list2{
        width: 30%;
        /*background: rgb(99, 208, 63);*/
        margin-left: 5%;
        margin-right: 10%;
        /*text-align: center;*/
        margin-top: 40px;
        float: left;
}
    
.link_list2 ul{
        list-style: none;
        padding: 10px;
        margin: 0%;
}
    
.link_list2 ul li{
        margin: 10px;
        padding: 10px;
}
    
.link_list2 ul li a{
       color: #f6dc87;
       text-decoration: none;
       transition: color 0.5s ease-in-out;
}

.link_list2 ul li a:hover{
    color: rgb(248, 239, 239);
}


/* ============================ tile content in the body section =======================================

       ========================================= FIRST TILE CONTENT ===============================================
*/

.tile_1{
    width: 20%;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 5%;
    float: left;
}

.tile_11{
    width: 100%;
    border: 2px groove rgb(248, 239, 239);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    background-color: #212121;
    color: #f6dc87;
}

.tile_11 h4{
   margin: 0px;
   padding: 20px;
}

.tile_12{
    width: 100%;
    border: 2px groove rgb(248, 239, 239);
    text-align: center;
    background-color:rgb(248, 239, 239);
    color: #0a0a07;
}

.tile_12 p{
    margin: 10px;
    padding: 20px;
    font-size: 14px;
 }

 /* ============================second tile content ===========================*/
 .tile_2{
    width: 20%;
    margin-top: 50px;
    margin-right: 5%;
    float: left;
}

.tile_21{
    width: 100%;
    border: 2px groove rgb(248, 239, 239);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    background-color: #212121;
    color: #f6dc87;
}

.tile_21 h4{
   margin: 0px;
   padding: 20px;
}

.tile_22{
    width: 100%;
    border: 2px groove rgb(248, 239, 239);
    text-align: center;
    background-color:rgb(248, 239, 239);
    color: #0a0a07;
}

.tile_22 p{
    margin: 10px;
    padding: 20px;
    font-size: 14px;
 }

 /* =================================THIRD TILE CONTENT ==================================================*/

 .tile_3{
    width: 20%;
    margin-top: 50px;
    float: left;
}

.tile_31{
    width: 100%;
    border: 2px groove rgb(248, 239, 239);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    background-color: #212121;
    color: #f6dc87;
}

.tile_31 h4{
   margin: 0px;
   padding: 20px;
}

.tile_32{
    width: 100%;
    border: 2px groove rgb(248, 239, 239);
    text-align: center;
    background-color:rgb(248, 239, 239);
    color: #0a0a07;
}

.tile_32 p{
    margin: 10px;
    padding: 20px;
    font-size: 14px;
 }

 /* ==============================footer section of the page 
 
                                first footer section of the page
 
                                                                                ================================*/
 .footer{
    width: 100%;
    background-color: #0a0a07;
    content: "";
    display: table;
    clear: both;
 }

 .footer1{
    width: 25%;
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    float: left;
    color: #f6dc87;
    /*background-color: #c55c5c;*/
 }

 .footer1 ul{
    list-style: none;
    display: inline-flex;
    padding: 0%;
    margin: 10px 0px;
 }

 .footer1 ul li{
    padding: 5px;
 }

 .footer1 ul li a{
    text-decoration: none;
    color: rgb(248, 239, 239);
 }

 .footer1 ul li a{
    text-decoration: none;
    color: #f6dc87;
    padding: 5px;
 }

 .footer1 ul li a:hover{
  border-bottom: 2px groove #c55c5c;
 }

 /* =============================second footer element ====================================================*/
 .footer2{
    width: 20%;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    float: left;
    /*background-color: #196f62;*/
 }

 .footer2 ul{
    list-style: none;
    padding: 0%;
 }

 .footer2 ul li{
    margin: 5px;
    padding: 5px;
 }

 .footer2 ul li a{
    text-decoration: none;
    color: rgb(248, 239, 239);
 }

 .footer2 ul li a{
    text-decoration: none;
    color: rgb(248, 239, 239);
    padding: 5px;
 }

 .footer2 ul li a:hover{
  border-bottom: 2px groove #c55c5c;
 }

  /* =============================third footer element ====================================================*/
  .footer3{
    width: 20%;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    float: left;
    /*background-color: #196f62;*/
 }

 .footer3 ul{
    list-style: none;
    padding: 0%;
 }

 .footer3 ul li{
    margin: 5px;
    padding: 5px;
 }

 .footer3 ul li a{
    text-decoration: none;
    color: rgb(248, 239, 239);
 }

 .footer3 ul li a{
    text-decoration: none;
    color: rgb(248, 239, 239);
    padding: 5px;
 }

 .footer3 ul li a:hover{
  border-bottom: 2px groove #c55c5c;
 }

 .footer4{
    width: 20%;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    float: left;
    margin-top: 40px;
    margin-left: 60px;
   /* background-color: #196f62;*/
 }

 .footer4 h3{
    color: rgb(248, 239, 239);
 }

 .footer4 p{
    font-size: 12px;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    color: #f6dc87;
 }

 .copyright{
    content: "";
    display: table;
    clear: both;
    width: 100%;
    text-align: center;
    background-color: #f6dc87;
 }

 .copyright p{
    font-size: 12px;
    font-weight: lighter;
 }







    







