/* =================GENERAL DECLARATIONS =======================================*/
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

h2{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 10px;
}

p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 10px;
}

/*================================= NAV BAR ==============================================*/
.nav{
    width: 100%;
    background-color: #212121;
}

.nav_1{
    float: left;
    padding: 10px;
    margin-right: 60px;
}

.nav_1 h2{
    margin: 0%;
    padding: 10px;
    font-family: 'Cinzel', serif;
}

#head{
    font-size: 28px;
    color: #f6dc87;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 3px;
}

.nav_2{
    padding: 10px;
}

.nav_2 ul{
    margin: 0%;
    padding: 10px;
    display: inline-flex;
    list-style: none;
}

.nav_2 ul li{
   padding: 0px 10px;
    margin: 5px;
}

.nav_2 ul li a{
    margin-left: 10px;
    text-decoration: none;
    color: rgb(248, 239, 239);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.nav_1 h2 a{
    text-decoration: none;
    color: rgb(248, 239, 239);
}

.nav_2 ul li a:hover{
    opacity: 0.4;
}

/* ========================icon decoration =============================================*/

.fa{
    color: #f6dc87;
}


/* =====================section element of the body content =========================================*/
.section1{
    width: 100%;
}

.section1_1{
    width: 100%;
    background-color: #c55c5c;
    color: whitesmoke;
    padding-bottom: 80px;
    text-align: justify;
}

.section1_1 h2{
    padding-top: 60px;
    padding-bottom: 25px;
    margin-left: 12%;
}

.section1_1 p{
    margin-left: 12%;
}

/*.section1_1 > h2, p{
    margin-left: 12%;
}*/

.section1_1 p:nth-of-type(2){
    color:  #0a0a07;
    margin-left: 18%;
    font-family: 'Cinzel', serif;
}

.link_list_main{
    width: 50%;
    min-height: 35em;
    background-color: #2a6e71;
    border: 2px ridge #413b2a;
    border-radius: 20px;
    margin-top: -60px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.link_list_top{
    width: 100%;
    text-align: center;
   /* background-color: #2a6e71;*/
    color: whitesmoke;
    /*padding: 10px;*/
    /*border: 2px solid #413b2a;*/
    /*border-radius: 20px;*/
    /*margin-top: -60px;*/
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.link_list_top h2{
    padding-top: 25px;
    padding-bottom: 25px;
}


/*=============================== 1st mini list content in our services section on the body =================================*/

.link_list{
    width: 100%;
    height: 30em;
    text-align: left;
    background-color: #2a6e71;
    color: whitesmoke;
    /*padding: 10px;*/
    /*border: 2px solid #413b2a;*/
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;   
}

.link_list1{
    width: 30%;
   /* background: red;*/
    /*text-align: center;*/
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 40px;
    float: left;
}

.link_list1 ul{
    list-style: none;
    padding: 10px;
    margin: 0%;
}

.link_list1 ul li{
    margin: 10px;
    padding: 10px;
}

.link_list1 ul li a{
   color: #f6dc87;
   text-decoration: none;
}

/* ===================2nd mini list contents ==================================================*/
.link_list2{
        width: 30%;
        /*background: rgb(99, 208, 63);*/
        margin-left: 5%;
        margin-right: 10%;
        /*text-align: center;*/
        margin-top: 40px;
        float: left;
}
    
.link_list2 ul{
        list-style: none;
        padding: 10px;
        margin: 0%;
}
    
.link_list2 ul li{
        margin: 10px;
        padding: 10px;
}
    
.link_list2 ul li a{
       color: #f6dc87;
       text-decoration: none;
}
    







